In [ ]:
# import the data
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Authenticate and create the PyDrive client.
# This only needs to be done once per notebook.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
import pandas as pd

In [ ]:
file_id = '1fPGTX3tZFt5GN3W-N8LXmeAd0WiJcgZP'
downloaded = drive.CreateFile({'id': file_id})
downloaded.GetContentFile('red_light_summons.csv')

In [ ]:
red_light = pd.read_csv("red_light_summons.csv")

In [ ]:
red_light['VIOLATION_DATE'] = pd.to_datetime(red_light['VIOLATION_DATE'])
red_light['Date'] = red_light['VIOLATION_DATE'].apply(lambda x: x.strftime('%Y-%m-%d'))
red_light['Year'] = red_light['VIOLATION_DATE'].apply(lambda x: x.strftime('%Y'))

In [ ]:
boro_drivers= pd.read_csv("boro_drivers.csv")
boro_drivers.rename(columns={'boro':'CITY_NM'}, inplace=True)
boro_drivers=boro_drivers.set_index('CITY_NM')

In [ ]:
boro_drivers=boro_drivers.rename(index={"BK": "BROOKLYN",
                     "BX":"BRONX",
                     "MN":"MANHATTAN",
                     "QN": 'QUEENS',
                     'SI': "STATEN ISLAND"})

In [ ]:
# year 2018
yr_18 = ['2018']
red_light_18 = red_light['Year'].isin(yr_18)
red_light_18 = red_light.loc[red_light_18]
red_light_18['CITY_NM'] = red_light_18['CITY_NM'].replace({'NEW YORK': 'MANHATTAN'})

In [ ]:
df_red_light_18 = red_light_18.groupby(['CITY_NM']).count()[['CHG_LAW_CD']]
df_red_light_18.rename(columns = {'CHG_LAW_CD' : 'Num_of_Violation'}, inplace = True)
df_red_light_18 = df_red_light_18.join(boro_drivers)
df_red_light_18['Year']='2018'
df_red_light_18['Num_of_Violation'] = df_red_light_18['Num_of_Violation'].astype(float)
df_red_light_18['num_drivers'] = df_red_light_18['num_drivers'].astype(float)
df_red_light_18['Std_num_violation']=df_red_light_18['Num_of_Violation']/df_red_light_18['num_drivers']

               Num_of_Violation
CITY_NM
BRONX                      7509
BROOKLYN                  17160
MANHATTAN                 14539
QUEENS                     9619
STATEN ISLAND              3390

In [ ]:
# year 2019
yr_19 = ['2019']
red_light_19 = red_light['Year'].isin(yr_19)
red_light_19 = red_light.loc[red_light_19]
red_light_19['CITY_NM'] = red_light_19['CITY_NM'].replace({'NEW YORK': 'MANHATTAN'})

,Unnamed: 0,EVNT_KEY,VIOLATION_DATE,VIOLATION_TIME,CHG_LAW_CD,VIOLATION_CODE,VEH_CATEGORY,CITY_NM,RPT_OWNING_CMD,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Location Point,JURIS_CD,location_tuple,Date,Year
52259,76286,191716535,2019-01-01,11:13:16,VTL,1111D1N,CAR/SUV,BRONX,43,1025292.0,243234.0,40.834209,-73.851687,POINT (-73.85168677499996 40.83420938300003),NaN,"(40.74515860400004, -73.93347142099998)",2019-01-01,2019
52258,76957,191731900,2019-01-01,19:38:00,VTL,1111D1N,CAR/SUV,BROOKLYN,77,997374.0,185654.0,40.676253,-73.952687,POINT (-73.95268720999997 40.67625258400005),NaN,"(40.820105814000044, -73.95507788499998)",2019-01-01,2019
52257,76483,191724623,2019-01-01,14:19:00,VTL,1111D1N,CAR/SUV,MANHATTAN,33,1002196.0,246161.0,40.842320,-73.935142,POINT (-73.93514158599999 40.84232027500008),NaN,"(40.66240333500008, -73.93734219999999)",2019-01-01,2019
52256,76412,191735003,2019-01-01,16:40:00,VTL,1111D1N,CAR/SUV,BROOKLYN,84,988457.0,189544.0,40.686938,-73.984832,POINT (-73.98483206999998 40.68693847800006),NaN,"(40.76218752300008, -73.96613050799994)",2019-01-01,2019
52255,75975,191735026,2019-01-01,22:57:00,VTL,1111D1N,CAR/SUV,QUEENS,112,1021783.0,205604.0,40.730941,-73.864578,POINT (-73.86457755299995 40.73094075300003),NaN,"(40.844156600000076, -73.90060544899995)",2019-01-01,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99391,118586,206876756,2019-12-30,09:26:45,VTL,1111D1N,MCL,BROOKLYN,83,1006202.0,195294.0,40.702695,-73.920829,POINT (-73.92082938499993 40.702694671000074),NaN,"(40.653215343000056, -73.94023036499993)",2019-12-30,2019
99392,122442,206876775,2019-12-30,09:56:10,VTL,1111D1N,CAR/SUV,BROOKLYN,84,987907.0,194289.0,40.699963,-73.986813,POINT (-73.98681265599998 40.69996265200007),NaN,"(40.67256783600004, -73.99882622399997)",2019-12-30,2019
99393,122238,206874856,2019-12-30,06:10:00,VTL,1111D1N,CAR/SUV,QUEENS,104,1005905.0,197738.0,40.709404,-73.921893,POINT (-73.92189268499999 40.709403605000034),NaN,"(40.77234931100003, -73.95268753899995)",2019-12-30,2019
99394,122268,206876703,2019-12-30,08:27:00,VTL,1111D1N,CAR/SUV,MANHATTAN,30,998476.0,241300.0,40.828985,-73.948597,POINT (-73.94859659799994 40.82898501200003),NaN,"(40.578486920000046, -73.98945735699994)",2019-12-30,2019
99383,121105,206878670,2019-12-30,11:03:00,VTL,1111D1N,CAR/SUV,QUEENS,103,1037778.0,194006.0,40.699025,-73.806958,POINT (-73.80695791299996 40.69902475500004),NaN,"(40.63886517100008, -74.02271208799993)",2019-12-30,2019

In [ ]:
df_red_light_19 = red_light_19.groupby(['CITY_NM']).count()[['CHG_LAW_CD']]
df_red_light_19.rename(columns = {'CHG_LAW_CD' : 'Num_of_Violation'}, inplace = True)
df_red_light_19 = df_red_light_19.join(boro_drivers)
df_red_light_19['Year']='2019'
df_red_light_19['Num_of_Violation'] = df_red_light_19['Num_of_Violation'].astype(float)
df_red_light_19['num_drivers'] = df_red_light_19['num_drivers'].astype(float)
df_red_light_19['Std_num_violation']=df_red_light_19['Num_of_Violation']/df_red_light_19['num_drivers']

In [ ]:
# year 2020
yr_20 = ['2020']
red_light_20 = red_light['Year'].isin(yr_20)
red_light_20 = red_light.loc[red_light_20]
red_light_20['CITY_NM'] = red_light_20['CITY_NM'].replace({'NEW YORK': 'MANHATTAN'})

,Unnamed: 0,EVNT_KEY,VIOLATION_DATE,VIOLATION_TIME,CHG_LAW_CD,VIOLATION_CODE,VEH_CATEGORY,CITY_NM,RPT_OWNING_CMD,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Location Point,JURIS_CD,location_tuple,Date,Year
99463,21606,206897554,2020-01-01,20:10:00,VTL,1111D1N,CAR/SUV,QUEENS,113,1051488.0,182176.0,40.666461,-73.757632,POINT (-73.75763239699995 40.66646066900006),NaN,"(40.844156600000076, -73.90060544899995)",2020-01-01,2020
99462,1844,206895705,2020-01-01,14:45:13,VTL,1111D1N,CAR/SUV,QUEENS,107,1047965.0,205967.0,40.731787,-73.770106,POINT (-73.77010643499995 40.731787250000025),NaN,"(40.666886833000035, -73.94521417699997)",2020-01-01,2020
99461,5118,206894360,2020-01-01,08:43:00,VTL,1111D1N,CAR/SUV,MANHATTAN,33,1000008.0,244063.0,40.836566,-73.943054,POINT (-73.94305431299995 40.836566051000034),NaN,"(40.657921490000035, -73.89615424099998)",2020-01-01,2020
99460,1261,206895974,2020-01-01,16:09:00,VTL,1111D1N,CAR/SUV,STATEN ISLAND,120,962886.0,165227.0,40.620169,-74.076958,POINT (-74.07695755599997 40.62016884900004),NaN,"(40.63879405400007, -73.94537416099996)",2020-01-01,2020
99454,2888,206896758,2020-01-01,17:54:00,VTL,1111D1N,MCL,BROOKLYN,76,984175.0,184833.0,40.674009,-74.000272,POINT (-74.00027182199995 40.674008850000064),NaN,"(40.73414391000006, -73.99918958099994)",2020-01-01,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122347,19038,222459437,2020-12-31,10:45:00,VTL,1111D1N,CAR/SUV,BROOKLYN,63,1005769.0,161456.0,40.609818,-73.922499,POINT (-73.92249901199995 40.60981786600007),NaN,"(40.673495143000025, -73.97295658699994)",2020-12-31,2020
122346,9407,222459517,2020-12-31,15:40:56,VTL,1111D1N,MCL,BRONX,47,1026480.0,262584.0,40.887314,-73.847272,POINT (-73.84727175799998 40.887313634000066),NaN,"(40.73011306700005, -73.81090891499997)",2020-12-31,2020
122344,4692,222459516,2020-12-31,15:40:56,VTL,1111D1N,MCL,BRONX,47,1022376.0,258467.0,40.876032,-73.862138,POINT (-73.86213775799996 40.87603244700006),NaN,"(40.86880092300004, -73.83167313199993)",2020-12-31,2020
122343,15213,222469473,2020-12-31,21:45:00,VTL,1111D1N,CAR/SUV,QUEENS,109,1032051.0,217053.0,40.762316,-73.827448,POINT (-73.82744800199998 40.76231580000007),NaN,"(40.55757482700005, -74.20699897099996)",2020-12-31,2020
122348,4519,222463570,2020-12-31,17:10:00,VTL,1111D1N,CAR/SUV,BROOKLYN,70,993880.0,172748.0,40.640833,-73.965302,POINT (-73.96530209699995 40.64083293600004),NaN,"(40.71802669700003, -73.99995815799997)",2020-12-31,2020

In [ ]:
df_red_light_20 = red_light_20.groupby(['CITY_NM']).count()[['CHG_LAW_CD']]
df_red_light_20.rename(columns = {'CHG_LAW_CD' : 'Num_of_Violation'}, inplace = True)
df_red_light_20 = df_red_light_20.join(boro_drivers)
df_red_light_20['Year']='2020'
df_red_light_20['Num_of_Violation'] = df_red_light_20['Num_of_Violation'].astype(float)
df_red_light_20['num_drivers'] = df_red_light_20['num_drivers'].astype(float)
df_red_light_20['Std_num_violation']=df_red_light_20['Num_of_Violation']/df_red_light_20['num_drivers']

               Num_of_Violation
CITY_NM
BRONX                      3394
BROOKLYN                   8772
MANHATTAN                  4947
QUEENS                     5040
STATEN ISLAND               804

In [ ]:
# year 2021
yr_21 = ['2021']
red_light_21 = red_light['Year'].isin(yr_21)
red_light_21= red_light.loc[red_light_21]
red_light_21['CITY_NM'] = red_light_21['CITY_NM'].replace({'NEW YORK': 'MANHATTAN'})

,Unnamed: 0,EVNT_KEY,VIOLATION_DATE,VIOLATION_TIME,CHG_LAW_CD,VIOLATION_CODE,VEH_CATEGORY,CITY_NM,RPT_OWNING_CMD,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Location Point,JURIS_CD,location_tuple,Date,Year
122399,128846,222488163,2021-01-01,09:03:48,VTL,1111D1N,MCL,QUEENS,107,1036401.0,196228.0,40.705132,-73.811907,POINT (-73.81190670699993 40.70513183300005),1.0,"(40.65053799100008, -73.95582631699995)",2021-01-01,2021
122404,130354,222497614,2021-01-01,16:00:00,VTL,1111D1N,CAR/SUV,BROOKLYN,81,1001306.0,186673.0,40.679043,-73.938509,POINT (-73.93850911199996 40.67904280600004),1.0,"(40.760865704000025, -73.96107031199995)",2021-01-01,2021
122400,129222,222500437,2021-01-01,18:55:00,VTL,1111D1N,CAR/SUV,BROOKLYN,75,1013316.0,183163.0,40.669377,-73.895224,POINT (-73.89522439199999 40.66937736300008),1.0,"(40.812674006000066, -73.90633141099994)",2021-01-01,2021
122401,131242,222500666,2021-01-01,23:55:00,VTL,1111D1N,CAR/SUV,BROOKLYN,66,985823.0,172664.0,40.640607,-73.994334,POINT (-73.99433354099995 40.64060746800004),1.0,"(40.69996265200007, -73.98681265599998)",2021-01-01,2021
122402,131063,222488202,2021-01-01,10:44:25,VTL,1111D1N,MCL,QUEENS,107,1036658.0,205330.0,40.730113,-73.810909,POINT (-73.81090891499997 40.73011306700005),1.0,"(40.66763201900005, -73.94236224499997)",2021-01-01,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147931,147881,238471373,2021-12-31,07:18:06,VTL,1111D1N,CAR/SUV,QUEENS,103,1041717.0,197008.0,40.707240,-73.792727,POINT (-73.79272672599996 40.707239816000026),1.0,"(40.71601201200008, -73.99733202999994)",2021-12-31,2021
147930,144459,238474787,2021-12-31,09:22:24,VTL,1111D1N,CAR/SUV,BRONX,40,1006727.0,233759.0,40.808270,-73.918807,POINT (-73.91880734099993 40.80826995000007),1.0,"(40.64415166300006, -73.95792053799994)",2021-12-31,2021
147929,139435,238490903,2021-12-31,20:40:00,VTL,1111D1N,CAR/SUV,QUEENS,100,1037059.0,153464.0,40.587750,-73.809868,POINT (-73.80986825599996 40.58775026200004),1.0,"(40.737203099000055, -73.98327259799999)",2021-12-31,2021
147939,146631,238469674,2021-12-31,05:41:00,VTL,1111D1N,CAR/SUV,BROOKLYN,71,997054.0,181094.0,40.663737,-73.953850,POINT (-73.95384952499995 40.66373687000004),1.0,"(40.64366906500004, -73.90066987499995)",2021-12-31,2021
147951,146036,238476034,2021-12-31,10:51:00,VTL,1111D1N,CAR/SUV,BRONX,52,1017478.0,256069.0,40.869470,-73.879861,POINT (-73.87986080399997 40.86947047700005),1.0,"(40.633041526000056, -74.01824619399997)",2021-12-31,2021

In [ ]:
df_red_light_21=red_light_21.groupby(['CITY_NM']).count()[['CHG_LAW_CD']]
df_red_light_21.rename(columns = {'CHG_LAW_CD' : 'Num_of_Violation'}, inplace = True)
df_red_light_21 = df_red_light_21.join(boro_drivers)
df_red_light_21['Year']='2021'
df_red_light_21['Num_of_Violation'] = df_red_light_21['Num_of_Violation'].astype(float)
df_red_light_21['num_drivers'] = df_red_light_21['num_drivers'].astype(float)
df_red_light_21['Std_num_violation']=df_red_light_21['Num_of_Violation']/df_red_light_21['num_drivers']

               Num_of_Violation
CITY_NM
BRONX                      2983
BROOKLYN                  10765
MANHATTAN                  5979
QUEENS                     4661
STATEN ISLAND              1183

In [ ]:
num_of_cam = pd.read_csv("numner_of_camera_by_boro.csv")
num_of_cam = num_of_cam[['BoroName','count','Density']]
num_of_cam.rename(columns = {'BoroName' : 'CITY_NM'}, inplace = True)
num_of_cam = num_of_cam.set_index('CITY_NM')
num_of_cam = num_of_cam.rename(index={'Bronx': 'BRONX'})
num_of_cam = num_of_cam.rename(index={'Brooklyn': 'BROOKLYN'})
num_of_cam = num_of_cam.rename(index={'Manhattan': 'MANHATTAN'})
num_of_cam = num_of_cam.rename(index={'Queens': 'QUEENS'})
num_of_cam = num_of_cam.rename(index={'Staten Island': 'STATEN ISLAND'})

In [ ]:
df_red_light_18 = pd.concat([df_red_light_18, num_of_cam], axis=1)
df_red_light_18 = df_red_light_18[['Num_of_Violation','count','Std_num_violation','Density','Year']]

In [ ]:
df_red_light_19 = pd.concat([df_red_light_19, num_of_cam], axis=1)
df_red_light_19=df_red_light_19[['Num_of_Violation','count','Std_num_violation','Density','Year']]

In [ ]:
df_red_light_20 = pd.concat([df_red_light_20, num_of_cam], axis=1)
df_red_light_20=df_red_light_20[['Num_of_Violation','count','Std_num_violation','Density','Year']]

In [ ]:
df_red_light_21 = pd.concat([df_red_light_21, num_of_cam], axis=1)
df_red_light_21=df_red_light_21[['Num_of_Violation','count','Std_num_violation','Density','Year']]

In [ ]:
df_red_light_18['Ratio18']=df_red_light_18['Std_num_violation']/df_red_light_18['Density']
df_red_light_19['Ratio19']=df_red_light_19['Std_num_violation']/df_red_light_19['Density']
df_red_light_20['Ratio20']=df_red_light_20['Std_num_violation']/df_red_light_20['Density']
df_red_light_21['Ratio21']=df_red_light_21['Std_num_violation']/df_red_light_21['Density']

,Num_of_Violation,count,Std_num_violation,Density,Year,Ratio18
CITY_NM,,,,,,
BRONX,7509.0,3737,0.015189,0.597251,2018,0.025432
BROOKLYN,17160.0,9232,0.016006,0.889060,2018,0.018003
MANHATTAN,14539.0,3948,0.018430,1.003559,2018,0.018364
QUEENS,9619.0,7580,0.008020,0.463779,2018,0.017294
STATEN ISLAND,3390.0,1035,0.010835,0.159870,2018,0.067772

In [ ]:
camera = pd.read_csv("red_light_camera_tickets.csv")

In [ ]:
camera['Issue Date'] = pd.to_datetime(camera['Issue Date'])
camera['Date'] = camera['Issue Date'].apply(lambda x: x.strftime('%Y-%m-%d'))
camera['Year'] = camera['Issue Date'].apply(lambda x: x.strftime('%Y'))
camera = camera.sort_values(by=['Issue Date'])
camera.rename(columns={'Violation County':'CITY_NM'}, inplace=True)

In [ ]:
camera['CITY_NM'] = camera['CITY_NM'].replace({'BK': 'BROOKLYN',
                                               'MN': 'MANHATTAN',
                                               'QN': 'QUEENS',
                                               'SI': 'STATEN ISLAND',
                                               'BX': 'BRONX'
                                               })

In [ ]:
camera = camera.set_index('CITY_NM')